.acme-navbar-text{
  color: white;
}
$decision-item-height: 64px;
.decision-panel{
  //&.drop-active{
  //  border: 4px dashed #ccc;
  //}
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &.active{
    z-index: 490;
    .decision-panel_do-not-do, .decision-panel_do-it-later, .decision-panel_do-it {
        height: 40vh;
        z-index: 490;
      }
    }
  &:not(.active) {
    &.do {
      .decision-panel_do-it {
        height: 70px;
      }
    }
    &.doLater {
      .decision-panel_do-it-later {
        height: 70px;
      }
    }
    &.doNotDo {
      .decision-panel_do-not-do {
        height: 70px;
      }
    }
  }
  text-transform: uppercase;
  background-color: transparent !important;
  .decision-panel_do-not-do, .decision-panel_do-it-later, .decision-panel_do-it{
    vertical-align: middle;
    line-height: $decision-item-height;
    height: $decision-item-height;
    text-align: center;
    font-size: 14px;
    padding-top: 2px;
    letter-spacing: 1px;
  }

  .decision-panel_do-not-do{
    background-color: #DF4545;
    &.drop-target {
      //height: 70px;
      line-height: 70px;
    }
  }
  .decision-panel_do-it-later{
    background-color: #F5A623;
    &.drop-target {
      //height: 70px;
      line-height: 70px;
    }
  }

  .decision-panel_do-it{
    background-color: #0EAD69;
    &.drop-target {
      //height: 70px;
      line-height: 70px;
    }
  }

  .do-not-do-items-count{
    float: right;
    background-color: #C63939;
  }
  .do-later-items-count{
    float: right;
    background-color: #CF8914;
  }

  .do-items-count{
    float: right;
    background-color: #0D8B55;
  }

  .numberCircle {
    bottom: -19px;
    right: 25px;
    padding: 2px 9px;
    border-radius: 18px;
    font-size: 14px;
    line-height: 21px;
    position: relative;
  }

}
