<div >
  <md-content>
    <div ng-click="main.closeOpennedDialog()" style="position: fixed; top: 0; right: 0; z-index: 1000; cursor: pointer;" ng-show="main.showClosed"><i class="material-icons" style="font-size: 48px; color: #979797;">close</i></div>

    <md-button ng-if="(main.currentView !== 'userView' && main.currentView !== 'forkItem') && (main.currentSystemUser.edit || main.currentSystemUser.superUser)" class="md-fab md-mini" aria-label="Eat cake" ng-click="main.createPost($event)" >
      <i class="material-icons">add</i>
    </md-button>

    <div layout="column" class="current-item-view" ng-if="main.currentView === 'forkItem'">
      <div class="section-description">ДОСКА ИДЕИ</div>
      <div layout="row">
        <div class="back-to-all-items user-view" ng-click="main.loadAllPosts()"><div class="back-icon">← </div></div>
        <div layout="column" class="current-item-view-card md-whiteframe-1dp">
          <div flex class="tile-text {{main.currentItem.itemStyle}}">
            <p>{{ main.currentItem.description }}</p>
          </div>
          <div class="action-panel">
            <div flex layout="row" class="{{main.currentItem.itemStyle}}">
              <div class="post-creation-time" am-time-ago="{{main.currentItem.createdDate}}"></div>
              <div class="author" ng-click="main.openUser(main.currentItem.userFullName)"> — {{main.currentItem.fname}} {{main.currentItem.lname}}</div>
              <div flex class="brunch-btn"><md-button ng-click="main.createPost($event)"><i class="material-icons">share</i>РАЗВИТЬ</md-button></div>
            </div>
          </div>
        </div>
        <div ng-if="main.currentItem.hasImage" flex="30" class="tile-image current-post-image" ng-style="{'background' : 'url({{main.currentItem.img}}) no-repeat'}"></div>
      </div>
    </div>

    <div flex class="current-state-indicator {{main.viewState}}" ng-if="main.viewState !== 'all'">&nbsp;</div>
    <div flex layout="row" class="user-items" ng-if="main.currentView === 'userView'">
      <div ng-if="main.currentView === 'userView' && main.currentView !== 'forkItem'" class="back-to-all-items user-view" ng-click="main.loadAllPosts()"><div class="back-icon">← </div></div>
      <div class="image-avatar"> <img ng-src="{{main.selectedUser.photoURL}}" style="border-radius: 50%;" /></div>
      <div class="user-item-name" layout="column">
        <div class="title">ПОЛЬЗОВАТЕЛЬ</div>
        <div class="user-name">{{main.currentUser}}</div>
      </div>
      <div flex class="user-items-info" layout="row" layout-align="end center">
        <div class="under-consideration">{{main.currentUserUnclassifiedPosts.length}}</div>
        <div class="do-not-do">{{main.currentUserDoNotDoPosts.length}}</div>
        <div class="do-later">{{main.currentUserDoLaterPosts.length}}</div>
        <div class="do">{{main.currentUserDoPosts.length}}</div>
      </div>
    </div>
    <div ng-if="main.currentView !== 'userView' && main.currentView !== 'forkItem'" class="project-settings" layout="row" layout-align="end center">
      <div ng-if="main.viewState !== 'all'" flex class="back-to-all-items" layout="row"><div class="back-icon">← </div><md-button md-no-ink class="md-primary" ng-click="main.loadAllPosts()">Неотсортированные идеи</md-button></div>
      <md-input-container class="users_selector">
        <md-select ng-model="main.showOnlyUsers" multiple md-selected-text="'По людям: ' + main.showOnlyUsers.length">
          <md-optgoup>
            <md-option ng-value="user.uid" ng-repeat="user in main.availableUsers">{{user.displayName}}</md-option>
          </md-optgoup>
        </md-select>
      </md-input-container>
      <div>Проект:</div>
      <md-menu md-position-mode="target-right target">
        <md-button md-no-ink class="md-primary" ng-click="main.openSelectProjectMenu($mdOpenMenu, $event)">{{main.currentProject.project}}</md-button>
        <md-menu-content width="4" id="projects-menu-content">
          <md-menu-item ng-repeat="project in main.allProjects">
            <md-button ng-click="main.setActiveProject($event, project)">
              {{project.project}}
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="main.toggleCreateProject($event)" md-prevent-menu-close="md-prevent-menu-close" ng-show="!main.newProjectCreation">
              Добавить проект
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="main.newProjectCreation">
            <md-input-container>
              <label>Имя проэкта</label>
              <input ng-model="main.newProjectName" autofocus ng-keydown="main.newProject($event, this)"/>
            </md-input-container>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <div>Сортировка:</div>
      <md-menu md-position-mode="target-right target">
        <md-button md-no-ink class="md-primary" ng-click="main.openOrderType($mdOpenMenu, $event)">{{main.orderTypeText}}</md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="main.changeOrderType('-created_date', $event)">
              дате создания
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="main.changeOrderType('-rating', $event)">
              по просмотрам
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button class="admin-settings-btn" ng-click="main.viewUsetSettings()"><i class="material-icons">settings</i></md-button>
    </div>

    <div flex layout-align="space-between stretch" class="main-content">
      <md-grid-list
        md-cols="1" md-cols-sm="3" md-cols-md="6" md-cols-gt-md="9"
        md-row-height="40px"
        md-gutter="25px" md-gutter-gt-sm="25px">
        <md-grid-tile ng-repeat="awesomeThing in main.awesomeThings | orderBy: main.orderField | filter:filterByUser"
                      class="droppable draggable drag-drop md-whiteframe-1dp"
                      ng-class="{'allow' : main.currentSystemUser.superUser}"
                      md-rowspan="{{awesomeThing.row}}"
                      item-id = "{{awesomeThing.$id}}"
                      item-status = "{{awesomeThing.state}}"
                      md-colspan="{{awesomeThing.col}}" layout="row" layout-align="center stretch">
            <div flex layout="column" layout-align="center stretch" style="align-self: stretch">
              <div flex class="tile-text {{awesomeThing.itemStyle}}" ng-click="main.viewPost(awesomeThing, $event)">
                <p>{{ awesomeThing.description }}</p>
              </div>
              <div class="action-panel">
                <div flex layout="column" class="{{awesomeThing.itemStyle}}" ng-attr-layout="{{awesomeThing.itemStyle == 'small-item' && 'column' || 'row'}}">
                  <div class="post-creation-time" am-time-ago="{{awesomeThing.created_date}}"></div>
                  <div ng-if="main.currentView !== 'userView'" flex class="author" ng-click="main.openUser(awesomeThing.user_id, awesomeThing.user_name)"> — {{awesomeThing.user_name}}</div>
                </div>
              </div>
            </div>
            <div flex="40" ng-click="main.showImage($event, awesomeThing.img)" ng-if="awesomeThing.hasImage" class="tile-image" ng-style="{'background' : 'url({{awesomeThing.img}}) no-repeat'}"></div>
        </md-grid-tile>
      </md-grid-list>
    </div>
    <md-backdrop class="st-backdrop md-opaque md-default-theme md-sidenav-backdrop-custom" ng-class="{'disabled' : !main.doingDragging}"></md-backdrop>
    <footer>
      <acme-navbar creation-date="main.creationDate" parent-model="main"></acme-navbar>
    </footer>
  </md-content>

</div>

