<div >


  <md-content>
    <md-button ng-if="main.currentView !== 'userView'" class="md-fab md-mini" aria-label="Eat cake" ng-click="main.createPost($event)" >
      <i class="material-icons">add</i>
    </md-button>
    <div flex class="current-state-indicator {{main.viewState}}" ng-if="main.viewState !== 'all'">&nbsp;</div>
    <div flex layout="row" class="user-items" ng-if="main.currentView === 'userView'">
      <div class="image-avatar"> <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jm_denis/128.jpg" style="border-radius: 50%;" /></div>
      <div class="user-item-name" layout="column">
        <div class="title">ПОЛЬЗОВАТЕЛЬ</div>
        <div class="user-name">{{main.currentUser}}</div>
      </div>
      <div flex class="user-items-info" layout="row" layout-align="end center">
        <div class="under-consideration">53</div>
        <div class="do-not-do">20</div>
        <div class="do-later">5</div>
        <div class="do">93</div>
      </div>
    </div>
    <div ng-if="main.currentView !== 'userView'" class="project-settings" layout="row" layout-align="end center">
      <div ng-if="main.viewState !== 'all'" flex class="back-to-all-items" layout="row"><div class="back-icon">← </div><md-button md-no-ink class="md-primary" ng-click="main.loadAllPosts()">Неотсортированные идеи</md-button></div>
      <div>Проект:</div>
      <md-menu md-position-mode="target-right target">
        <md-button md-no-ink class="md-primary" ng-click="main.openSelectProjectMenu($mdOpenMenu, $event)">IMWU</md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="ctrl.redial($event)">
              Project 1
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="ctrl.checkVoicemail()">
              Project 2
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="ctrl.toggleNotifications()">
              Добавить проект
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <div>Сортировка:</div>
      <md-menu md-position-mode="target-right target">
        <md-button md-no-ink class="md-primary" ng-click="main.openOrderType($mdOpenMenu, $event)">{{main.orderTypeText}}</md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="main.changeOrderType('-id', $event)">
              дате создания
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="main.changeOrderType('-likes', $event)">
              по просмотрам
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <div flex layout-align="space-between stretch" class="main-content">
      <md-grid-list
        md-cols="1" md-cols-sm="3" md-cols-md="6" md-cols-gt-md="9"
        md-row-height="40px"
        md-gutter="25px" md-gutter-gt-sm="25px">
        <md-grid-tile ng-repeat="awesomeThing in main.awesomeThings | orderBy: main.orderField"
                      class="droppable draggable drag-drop md-whiteframe-1dp"
                      md-rowspan="{{awesomeThing.row}}"
                      item-id = "{{awesomeThing.id}}"
                      md-colspan="{{awesomeThing.col}}" layout="row" layout-align="center stretch">
            <div flex layout="column" layout-align="center stretch" style="align-self: stretch">
              <div flex class="tile-text {{awesomeThing.itemStyle}}" ng-click="main.viewPost(awesomeThing.id, $event)">
                <p>{{ awesomeThing.description }}</p>
              </div>
              <div class="action-panel">
                <div flex layout="column" class="{{awesomeThing.itemStyle}}" ng-attr-layout="{{awesomeThing.itemStyle == 'small-item' && 'column' || 'row'}}">
                  <div class="post-creation-time" am-time-ago="{{awesomeThing.createdDate}}"></div>
                  <div flex class="author" ng-click="main.openUser(awesomeThing.userFullName)">{{awesomeThing.fname}} {{awesomeThing.lname}}</div>
                </div>
              </div>
            </div>
            <div flex="40" ng-if="awesomeThing.hasImage" class="tile-image" ng-style="{'background' : 'url({{awesomeThing.img}}) no-repeat'}"></div>
        </md-grid-tile>
      </md-grid-list>
    </div>
    <md-backdrop class="st-backdrop md-opaque md-default-theme md-sidenav-backdrop-custom" ng-class="{'disabled' : !main.doingDragging}"></md-backdrop>
    <footer>
      <acme-navbar creation-date="main.creationDate" parent-model="main"></acme-navbar>
    </footer>
  </md-content>

</div>

