/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AvenirNext-Regular.ttf);

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  font-family: 'Avenir', "Helvetica Neue", 'Roboto Slab', serif;
  background-color: #f0f0f0;
  height: 100%;
}

div{
  outline: 0;
  font-family: 'Avenir', "Helvetica Neue", 'Roboto Slab', serif !important;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.md-fab{
  position: absolute;
  top: 10px;
  left: 5px;
  i{
    padding-top: 8px;
  }
}

.back-to-all-items{
  &.user-view{
    background-color: #f1f1f1;
    margin-top: -25px;
    .back-icon{
      padding-top: 40px;
      font-size: 46px;
      padding-left: 0px;
      padding-right: 20px;
      &:hover{
        cursor: pointer;
      }
    }

    .md-primary{
      margin: 0;
      min-width: 0;
      padding: 3px 0 0 5px;
      span{
        border-bottom: 1px solid #BBD0E9;;
        text-transform: none;
        color: #4A90E2;
      }
    }
  }
  .back-icon{
    padding-left: 50px;
    color: #4A90E2;
    padding-top: 4px;
  }
}

.project-settings{
  height: 3em;
  width: 100%;
  background-color: #f1f1f1;
  padding-right: 30px;



  div{
    padding-left: 50px;
    line-height: 36px;
    font-size: 14px;
    padding-top: 4px;
  }
  .md-primary{
    margin: 0;
    min-width: 0;
    padding: 3px 0 0 5px;
    span{
      border-bottom: 1px solid #BBD0E9;;
      text-transform: none;
      color: #4A90E2;
    }
  }
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  md-grid-tile {
    transition: all 300ms ease-out 50ms; }

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}

.current-state-indicator{
  height: 5px;
  &.do{
    background-color: #0EAD69;
  }
  &.doLater{
    background-color: #F5A623;
  }
  &.doNotDo{
    background-color: #DF4545;
  }
}

.drag-drop.can-drop {
  &.do{
    border: 3px solid #0EAD69;
  }
  &.do-later{
    border: 3px solid #F5A623;
  }
  &.do-not-do{
    border: 3px solid #DF4545;
  }
}

.item-liked{
  color: #fb4848 !important;
}

md-dialog{
  .tile-text{
    align-self: stretch;
    color: #333;
    padding: 20px 10px 15px 20px;

    p{
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
    }

    &.small-item{
      font-size: 14px;
    }
    &.medium-item{
      font-size: 24px;
      line-height: 32px;
    }
    &.big-item{
      font-size: 36px;
      line-height: 43px;
    }
  }
  .action-panel{
    height: 3em;
    width: 100%;
    .material-icons{
      font-size: 14px;
      color: rgba(51,51,51, 0.3);
    }

    .small-item{
      .post-creation-time{

        padding-top: 0;
      }
      .author{
        padding-top: 0px;
        text-align: left;
        padding-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; //TODO: find a better way to have ellipsis
        &:hover{
          color: #4A90E2;
          cursor: pointer;
        }
      }
    }


    //align-self: stretch;
  }

  .author{
    //position: absolute;
    //right: 12px;
    //bottom: 12px;
    padding-top: 10px;

    padding-right: 10px;
    font-size: 14px;
    color: rgba(51,51,51, 0.3);
    &:hover{
      color: #4A90E2;
      cursor: pointer;
    }
  }
}

.main-content{
  background-color: #f0f0f0;
  padding: 5px 30px 150px;
  height: 100%;

  md-grid-tile{
    background-color: white;
    border-radius: 4px;
    .tile-text{
      align-self: stretch;
      color: #333;
      padding-left: 20px;
      padding-top: 20px;
      padding-right: 10px;

      p{
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
      }
$big-item-font-size: 36px;
      $big-item-line-height: 43px;
      &.small-item{
        font-size: 14px;
      }
      &.medium-item{
        font-size: 24px;
        line-height: 32px;
      }
      &.big-item{
        font-size: $big-item-font-size;
        line-height: $big-item-line-height;
        height: $big-item-font-size*1.2*4;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        p{
          height: $big-item-font-size*1.2*4;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .action-panel{
      height: 3em;
      width: 100%;
      .material-icons{
        font-size: 14px;
        color: rgba(51,51,51, 0.3);
      }

      .small-item{
        .post-creation-time{

          padding-top: 0;
        }
        .author{
          padding-top: 0px;
          text-align: left;
          padding-left: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; //TODO: find a better way to have ellipsis
          &:hover{
            color: #4A90E2;
            cursor: pointer;
          }
        }
      }


      //align-self: stretch;
    }
    .tile-image{
      height: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
      //background-size: 100% 100%;
    }
    .likes-count{
      padding-top: 10px;
      font-size: 14px;
      color: rgba(51,51,51, 0.3);
    }
    .author{
      //position: absolute;
      //right: 12px;
      //bottom: 12px;
      padding-top: 10px;

      padding-right: 10px;
      font-size: 14px;
      color: rgba(51,51,51, 0.3);
      &:hover{
        color: #4A90E2;
        cursor: pointer;
      }
    }
    md-grid-tile-footer{
      background-color: transparent;
      color: #ccc;

    }
  }
}
.create-post-dailog {
  width: 600px;
  min-height: 200px;
  .input-container{
    padding: 20px 20px 0 20px;
    .md-input-focused, .md-input-has-value{
      label{
        display: none;
      }
    }
  }
  .create-post-input {
    width: 100%;
    label{
      font-size: 36px;
    }
    textarea{
      border: 0;
      font-size: 36px;
      line-height: 40px;
      height: 80px;
      margin-top: -20px;
    }
  }

  .create-post-hint{
    font-size: 16px;
    line-height: 20px;
    color: rgba(51,51,51, 0.3);
    padding: 0 20px 30px 25px;
  }

}
.create-post-btn{
  background: #4A90E2;
  width: 100%;
  margin: 16px 0 0;
  color: #fff;
  font-size: 14px;
  height: 60px;
  line-height: 0;
  span{
    line-height: 59px;
    letter-spacing: 1px;
  }
}

.create-post-action-hint{
  width: 100%;
  color: rgba(255, 255, 255, .4);
  font-size: 14px;
  text-align: center;
  padding-top: 16px;
}

md-backdrop.md-opaque{
  opacity: .8 !important;
}

md-backdrop.disabled
{
  display:none;
}

md-dialog{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;

  .ng-hide{
    display: block !important;
    visibility: hidden;
  }
  .ng-hide:not(.ng-hide-animate):not(.create-post-hint) {
    display: block !important;
    visibility: hidden;
  }
}

.a-md-dialog{
  border-radius: 4px;
  background-color: #fff;
}

.start-dragging{
  z-index: 500;
}

.post-creation-time{

  padding: 10px 0 0 20px;
  font-size: 14px;
  color: rgba(51,51,51, 0.3);
}

.post-view-dialog{
  max-width: 600px;
  min-width: 600px;
  min-height: 200px;
  .post-comments-area{
    background-color: #F3F3F3;
    padding-left: 20px;
    .comment-to-post{
      padding-top: 18px;

      .comment-avatar{
        width: 45px;
        height: 45px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        content: ' ';
      }

      .comment-user-name{
        font-size: 14px;
        color: #4A90E2;
      }
      .comment-text{
        font-size: 16px;
        line-height: 20px;
        font-color: #333;
      }
      .comment-info{
        padding-left: 10px;
        padding-right: 30px;
      }
    }

    .my-comment-container {
      padding: 10px 40px 0px 0;
      .avatar-container{
        padding-top: 25px;
        margin-right: 10px;
      }
      .my-avatar-small {
        background-size: cover;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background: url('https://unsplash.it/30/30?random') center;
      }
    }
  }
}

$plus-button-color: #50E3C2;

.user-items{
  padding: 20px;
  background-color: #f0f0f0;
  .image-avatar{
    img {
      width: 84px;
      height: 84px;
    }
  }
  .user-item-name{
    padding-left: 14px;
    .title{
      color: #9E9E9E;
      font-size: 16px;
      padding-left: 5px;
    }
    .user-name{
      color: #333;
      font-size: 72px;
      margin-top: -10px;
      font-weight: 500;
    }
  }
  .user-items-info{
    text-align: right;
    .under-consideration, .do-not-do, .do-later, .do{
      font-size: 56px;
      color: white;
      border-radius: 4px;
      width: 120px;
      text-align: center;
      padding: 7px 0px;
      margin-left: 25px;
    }
    .under-consideration{
      background-color: transparent;
      color: #545252;
      border: 2px solid #D5D5D5;
    }
    .do-not-do{
      background-color: #DF4545;
    }
    .do-later{
      background-color: #F5A623;
    }
    .do{
      background-color: #0EAD69;
    }
  }
}

.brunch-btn{
  text-align: right;
  .md-button{
    margin: 0;
    border-radius: 4px;
    border: 1px solid #4A90E2;
    color: #4A90E2;
    margin-right: 20px;
    line-height: 31px;
    min-height: 31px;
    i{
      color: #4A90E2 !important;
      position: relative;
      bottom: -2px;
      padding-right: 5px;
      padding-left: 5px;
    }
    span{
      font-size: 14px;
      color: #4A90E2;
      line-height: 20px;
      padding-right: 5px;
    }
  }
}

.current-item-view{
  background-color: #f1f1f1;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 50px;
  .current-post-image{
    border-radius: 4px;
    margin-left: 30px;
  }
  .section-description{
    font-size: 16px;
    letter-spacing: 2px;
    color: #9E9E9E;
    padding-left: 70px;
    padding-bottom: 15px;
  }
  .current-item-view-card{
    background-color: white;
    border-radius: 4px;
    max-width: calc(((11.11111111111111% - 22.22222222222222px) * 4) + 75px);
    height: 235px;

    .tile-text{
      align-self: stretch;
      color: #333;
      padding-left: 20px;
      padding-top: 20px;
      padding-right: 10px;

      p{
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
      }

      &.small-item{
        font-size: 14px;
      }
      &.medium-item{
        font-size: 24px;
        line-height: 32px;
      }
      &.big-item{
        font-size: 36px;
        line-height: 43px;
      }
    }
    .action-panel{
      height: 3em;
      width: 100%;
      .material-icons{
        font-size: 14px;
        color: rgba(51,51,51, 0.3);
      }

      .small-item{
        .post-creation-time{

          padding-top: 0;
        }
        .author{
          padding-top: 0px;
          text-align: left;
          padding-left: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; //TODO: find a better way to have ellipsis
          &:hover{
            color: #4A90E2;
            cursor: pointer;
          }
        }
      }


      //align-self: stretch;
    }

    .author{
      //position: absolute;
      //right: 12px;
      //bottom: 12px;
      padding-top: 10px;

      padding-right: 10px;
      font-size: 14px;
      color: rgba(51,51,51, 0.3);
      &:hover{
        color: #4A90E2;
        cursor: pointer;
      }
    }
  }
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
